.cart-container{
    height:85vh;
    width:0px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    right:0%;
    transition: 0.7s ease-in-out;
    overflow-x: hidden;
    z-index: 9;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px 7px rgba(0,0,0,0.7);
}

.cart-container-expands{
    width:600px;
    transition: 0.7s ease-in-out;
}

.cart-header{
    display:flex;
    flex-direction: column;
}
 .center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center span {
    padding: 30px 150px;
    font-size: medium;
    position: relative;
    letter-spacing: 0.1rem;
}
.center span:after {
    content: "";
    position: absolute;
    background-color: #1a1a1a;
    height: 3px;
    width: 50px;
    left: 45%;
    bottom: 20px;

}

.center button {
    border:none;
    outline:none;
    padding:10px;
    background-color:transparent ;
    font-weight: 100;
    font-size: x-large;
}
 .center2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center2 i {
    padding-left: 12px;
    transform: scale(-1, 1);
}

.cart-product-container{
    background-color: #ffffff;
    width:90%;
    height:65%;
    overflow-y: scroll;
}

 .cart-product-container .cart-product-card .product-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.product-btns{
    display: flex;
    margin-top: 10px;
}
/* .product-btns button {
    outline:none;
    border:rgba(26, 26, 26, 0.3) 1px solid;
    background-color: transparent;
    width: 30px;
    height: 25px;
} */
/* .product-btns div {
    width:30px;
    height:25px;
    border-top:rgba(26, 26, 26, 0.3) 1px solid;
    border-bottom:rgba(26, 26, 26, 0.3) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;


} */

.cart-product-container .cart-product-card{
    width:100%;
    /* height: 40%; */
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom:20px;
    display:flex;
}
.cart-product-container .cart-product-card .product-image-container{
    width:120px;
    height:120px;
    overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .cart-product-container .cart-product-card .product-image-container img {
    width:auto;
    height:120px;
}

.cart-product-container .cart-product-card .product-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-bottom: 20px;
}
.cart-product-container .cart-product-card .product-description .product-name {
    font-size: 13px;
    max-width: 200px;
}
.cart-product-container .cart-product-card .product-description .product-price {
    font-size: smaller;
}
.cart-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}

.cart-footer .checkout {
    background-color: #967a36;
    padding: 3% 50%;
    color: white;
    letter-spacing: 0.1rem;
    font-weight: 300;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.cart-footer .checkout:hover{
    background-color: #7d672d;

    transition: 0.3s ease-in-out;



}
.cart-footer .tax{
    font-size: 12px;
    font-weight: 300;
} 
.cart-footer .spox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cart-footer .spc{
    margin-left:30px;
}

.delete{
    border:none;
}
@media screen and (max-width: 1000px) {
    .cart-footer .tax{
        font-size: 10px;
        font-weight: 300;
        letter-spacing: 0;
    } 
    .cart-footer .spox {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cart-footer .spc{
        margin-left:0px;
    }
    
    .cart-container{
        right:8%;

    }
    .cart-container-expands{
        width:330px;
        transition: 0.7s ease-in-out;
    }


    .cart-product-container .cart-product-card .product-description .product-price {
        font-size: 13px;
    }
    
    .cart-container .center span {
        padding: 30px 60px;
        font-size: medium;
        position: relative;
        letter-spacing: 0.1rem;
    }
}



