body {
  margin: 0;
  padding: 0;
}
* {
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first-nav {
  color: var(--secondary-color);
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: var(--font-size-text);
}

.first-nav .carou {
  width: 500px;
  padding: 8px 5rem;
}

.first-nav .carou .content {
  margin: 10px;
}
.first-nav .carou .content p {
  margin: 0;
}

.first-nav .carou .content p i {
  padding-right: 10px;
  color: #6d6d6d;
}
.first-nav .carou .content p a {
  padding-left: 10px;
  color: #6d6d6d;
}

/* second nav */

.second-nav .links {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 1.5rem 0;
  height: 100%;

  text-transform: capitalize;
}

.second-nav .links li a {
  text-decoration: none;
  color: var(--third-color);
  height: 100%;
  position: relative;
}

.second-nav .links li a::after {
  content: "";
  position: absolute;
  background-color: var(--third-color);
  height: 0.5px;
  width: 0;
  left: 0;
  transition: 0.3s ease;

  bottom: -5px;
}

.second-nav .links li a:hover {
  opacity: 0.8;
}

.second-nav .links li a:hover::after {
  width: 100%;
}

.second-nav .links li:last-of-type a {
  color: red;
}

.second-nav .links li:last-of-type a:hover::after {
  background-color: red;
  opacity: 0.8;
}

.second-nav .links li .dropdown-collections {
  position: absolute;
  display: none;

  gap: 2rem;
  left: 0;
  background-color: white;
  z-index: 2000;
  height: 500px;
  right: 0;
  padding: 0 2rem;
  padding-top: 30px;
  top: 120px;
}

.second-nav .links li:hover .dropdown-collections {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.second-nav .links li .dropdown-collections div {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.second-nav .links li .dropdown-collections div img {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.second-nav .links li .dropdown-collections div img:hover {
  scale: 1.1;
  opacity: 0.8;
}

.second-nav .links li .dropdown-store {
  width: 100%;
  position: absolute;
  z-index: 3000;
  background-color: white;
  height: 500px;
  padding-top: 30px;
  display: none;
}

.second-nav .links li:hover .dropdown-store {
  display: flex;
}

.second-nav .links li .dropdown-store .content a {
  margin-top: 10px;
  position: static;
}

.second-nav .links li .dropdown-store .content div a {
  color: #6d6d6d;
}

.second-nav .links li .dropdown-store .content div a:hover {
  background-color: #eee;
}

.second-nav .links li .dropdown-store .content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.second-nav .links li .dropdown-store .image-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.second-nav .links li .dropdown-store .image-container img {
  width: 100%;
  height: 250px;
  transition: 0.5s;
}

.second-nav .logo {
  font-weight: var(--font-bold);
  padding: 1.5rem 0;
}

.second-nav .icons {
  padding: 2rem 0;
  display: flex;
  justify-content: flex-end;
}

.second-nav .icons i {
  margin-left: 15px;
}
.second-nav .icons .dropdowns {
  position: relative;
  width: 100%;
}
.second-nav .icons ul {
  list-style: none;
  padding: 0;
  display: none;
  position: absolute;
  top: 0;
  margin-bottom: 10px;
  z-index: 1000;
}
.second-nav .icons .dropdowns:hover ul {
  display: block;
}

.second-nav .icons i:nth-child(3) {
  position: relative;
}

.second-nav .icons i:nth-child(3)::after {
  content: "0";
  font-size: 8px;
  background-color: var(--third-color);
  color: white;
  border-radius: 100%;
  padding: 3px;
  position: absolute;
  top: -4px;
  left: 10px;
}

.second-nav .icons li {
  width: 100px;
}
.second-nav .icons ul li:hover {
  background-color: #eee;
  cursor: pointer;
}

.second-nav .icons .dropdowns i {
  font-size: 10px;
}

.second-nav .icons i {
  font-size: 20px;
}

/* carousel-section */
.hero {
  width: 100%;
  margin: 0;
  padding: 0;
  /* max-height: 500px; */
}

.hero .item {
  width: 100%;
}

.hero .item .image-container {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.hero .item .image-container img {
  height: 500px;
}
.scale-down-center {
  -webkit-animation: scale-down-center 8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    forwards;
  animation: scale-down-center 8s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.hero .carousel-content {
  text-align: left;
  color: var(--secondary-color);
}
.hero .carousel-content p {
  width: 350px;
}

.hero .carousel-content h5 {
  position: relative;
}

@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 50px;
  }
}

.hero .carousel-content h5::after {
  content: "";
  position: absolute;
  animation: line 5s forwards;
  height: 2px;
  width: 0;
  z-index: 100;
  background-color: var(--main-color);
  bottom: -5px;
  left: 0;
}

.hero .carousel-content .buttons button:first-of-type {
  padding: 15px 25px;
  color: var(--secondary-color);
  border: 1px var(--secondary-color) solid;
  outline: none;
  background-color: transparent;
  font-size: var(--font-size-text);
  margin-right: 10px;

  transition: 0.5s;
}

.hero .carousel-content .buttons button:first-of-type:hover {
  background-color: var(--secondary-color);
  color: var(--third-color);
}
.hero .carousel-content .buttons button:last-of-type {
  padding: 15px 25px;
  color: var(--secondary-color);
  border: none;
  outline: none;
  background-color: var(--main-color);
  font-size: var(--font-size-text);
  transition: 0.5s;
}
.hero .carousel-content .buttons button:last-of-type:hover {
  background-color: #816428;
}

.hero .carousel-content .carousel-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero .carousel-content .carousel-btn button {
  color: var(--secondary-color);
  padding: 5px;
  background-color: var(--main-color);
  margin-right: 10px;
  outline: none;
  border: none;
  transition: 0.5s;
}

.hero .carousel-content .carousel-btn button span {
  filter: none;
}

.hero .carousel-content .carousel-btn button:hover {
  background-color: #816428;
}

/* collectio section */

.collections {
  margin: 3rem 0;
}

.collections .carousel-inner .carousel-item.active,
.collections .carousel-inner .carousel-item-next,
.collections .carousel-inner .carousel-item-prev {
  display: flex;
}

.collections .carousel-inner .carousel-item-end.active,
.collections .carousel-inner .carousel-item-next {
  transform: translateX(25%);
}

.collections .carousel-inner .carousel-item-start.active,
.collections .carousel-inner .carousel-item-prev {
  transform: translateX(-25%);
}

.collections .carousel-inner .carousel-item-end,
.collections .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.collections .card {
  margin: 1rem;
  border: none;
  border-radius: 0;
}

.collections .image-wrapper {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.collections .image-wrapper img {
  width: 100%;
  height: 300px;
  transition: 0.7s;
}

.collections .image-wrapper img:hover {
  scale: 1.2;
}

.collections .image-wrapper .image-overlay {
  position: absolute;
  background-color: var(--main-color);
  z-index: 3000;
  bottom: 0;
  right: 0;
  filter: none;
  padding: 10px;
  border: none;
  transition: 0.4s;
}

.collections .image-wrapper .image-overlay i {
  color: var(--secondary-color);
}

.collections .image-wrapper .image-overlay:hover {
  background-color: #816428;
}

.collections .carousel-btn a span {
  filter: none;
}
.collections .carousel-btn a {
  filter: none;
  padding: 5px 0;
  height: fit-content;
  color: black;
  top: 50%;
  width: max-content;
  background-color: var(--main-color);
  opacity: 0.7;
  transition: 0.4s;
}

.collections .carousel-btn a:hover {
  opacity: 1;
}

.collections .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.collections .title {
  position: relative;
  color: #6d6d6d;
  margin-bottom: 20px;
}

.collections .title::after {
  content: "";
  height: 2px;
  width: 0;
  animation: line 3s forwards;
  bottom: -8px;
  left: 35px;
  position: absolute;
  background-color: var(--main-color);
}

.collections .info .fields button {
  padding: 10px 15px;
  border: none;
  background-color: white;
  margin: 0 10px;
  transition: 0.5s;
  border-bottom: 2px solid var(--main-color);
}

.collections .info .fields button:last-of-type {
  color: red;
  border-bottom: 2px solid red;
}

.collections .info .fields button:hover {
  background-color: #816428;
  color: var(--secondary-color);
  border: none;
}

/* social-media section */

.social-media {
  margin: 3rem 0;
}

.social-media .carousel-item .content {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #464545;
}

.social-media .carousel-item h3 {
  font-size: 40px;
  color: #6d6d6d;
}

.social-media .carousel-item h4 {
  line-height: 40px;
  width: 60%;
  margin-bottom: 20px;
}

.social-media .carousel-item p:first-of-type {
  margin: 0;
}

.social-media .carousel-item p:last-of-type {
  color: #6d6d6d;
  font-size: var(--font-size-text);
  margin: 0;
}

@media (max-width: 767px) {
  .collections .carousel-inner .carousel-item > div {
    display: none;
    width: 100%;
  }
  .collections .carousel-inner .carousel-item > div:first-child {
    display: block;
  }

  .social-media .carousel-item h4 {
    font-size: 25px;
    width: fit-content;
  }
}
