
/* Hero section */
.hero-container{
    position: relative;
}
.hero-container .hero-section{
    position: absolute;
    top:34vh;
    background-color: white;
    padding:15px;
}
.hero-container .hero-image-container{
    height: 50vh;
    overflow: hidden;
    width: 100vw;
}
.hero-container .hero-image-container img {
    position: relative;
    top:-20vh;
    width:100%
}
.hero-section h4{
    position: relative;
    font-size: 20px;
    color:#222;
    font-weight: 300;
}
.hero-section h4:after{
    content: "";
    position: absolute;
    background-color: #7c8d0f;
    height: 3px;
    width: 6%;
    left: 0px;
    bottom: -10px;
}

.hero-section p {
    margin-top: 16px;
    line-height: 2em;
    font-weight: 200;
} 

@media screen and (max-width: 767px) {
    .hero-section p {
        margin-top:1.5em;
        line-height:1.5em
    }
    .hero-container .hero-section{
        position: absolute;
        top:22vh;
        background-color:white;
        padding-top:15px;
    }
    
}










/* Hero section */

/* filter section */
.parent-accordion .main {
    width:370px;
}
.filter-container, .parent-accordion {
    width: 330px;
    display:flex;
    flex-direction: column;
    margin-left:4vw;
    margin-top:120px;
    align-items: center;
}
.filter-container{
    align-items: center;
    justify-content: center;
    /* margin-left:0; */
}

.filter-container .sort {
    z-index:5;
    margin-bottom:3vh;
    width:100%;
    text-align: left;
    margin-top: 30px;
    
}
.filter-container .sort .sort-list {
    list-style-type: none;
    margin:0px 20px;
    width:20%; 
    display:none;
    position: absolute;
    background-color: rgb(255, 255, 255);
}

.filter-container .sort .sort-list li {
    cursor: pointer;
    padding: 5px;
    text-align: left;
    background-color: white;



}
.filter-container .sort .sort-list li:hover {
    color: rgb(255, 253, 253);
    background-color: rgba(0, 0, 0, 0.7);
    

}
#listdropdown.show {
    display:block
}


#sort-chevron {
    transition: 0.2s ease-in-out;

}
#sort-chevron.chevron-rotate{
    transform: rotate(-180deg);
    transition: 0.2s ease-in-out;

}

.filter-container .sort em {
    position: relative;
    top: -23px;
    left: 66px;
    background-color: white;
    font-style: normal;
    font-weight: 300;
}
.filter-container .sort button {
    border:rgba(0, 0, 0, 0.18) solid 1px;
    padding: 14px 0 14px 0px;
    background-color: white;
    width: 270px;
    text-align: left;

}
.filter-container .sort button span {
    padding-left: 2%;
    padding-right: 15%;
}

.accordion-button{
    padding:0;
    font-size: 13px;
    font-weight: 300;
    height:50px;
}
  
  .accordion-button:not(.collapsed) {
    color:black;
    font-weight: 600;
    background-color: white;
  }
     
  .parent-accordion .main{
    padding-left: 30px;
    padding-right:30px;
}


/* filter-container */

/* products-container */

.store-container{
    margin-top: 13vh;
}

.store-container .filter-container {
    margin:0;
}


.store-container{
    display: flex;
}

.products-container {
    margin-left: 4vw;
    margin-top: 2vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3vw
  }
  .product-card img {
    width: 280px;
    height: 280px;
    object-fit: cover;
    transition: .7s ease-in-out;

}

.product-desc{
    margin-top:8px;
    display:flex;
    flex-direction: column;
}
.product-desc span {
    margin-top: 2;
}
.product-card img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: .7s ease-in-out;
}

.card-image-container {
    overflow: hidden;
}

.product-card{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-cart-btn{
    position:absolute;
    top: 67%;
    left: 70%;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -2px 2px 7px rgba(0, 0, 0,0.6);
    color:black;
    border: none;
    padding:7px 9px 4px 7px;
    transition: 0.3s ease-in-out;
    font-size: 120%;
    text-align: center;

}

.added-to-cart {
    background-color: rgba(30, 30, 30, 0.9);
    color: rgb(230, 230, 230);
    transform: translate(-2px,2px);
    box-shadow: -0px 0px 0px rgba(0, 0, 0,0.6);
}
.add-cart-btn:hover{
    transition: 0.3s ease-in-out;
    transform: translate(-2px,2px);
    box-shadow: -0px 0px 0px rgba(0, 0, 0,0.6);




}


.pagination-buttons{
    text-align: center;
    padding:40px
}
.pagination-buttons button {
          background-color: transparent;
          border: none;
          font-size: 40px;
          margin-left:40px;
          margin-right:40px;


}
.pagination-buttons span {
    font-size: 30px;
}
/* products-container */
@media screen and (max-width: 1300px){
    .products-container {
        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 1vh;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        gap: 2vw;
        margin-bottom:2vh
      }

}
@media screen and (max-width: 1000px){
    .products-container {
        margin-left: 0vw;
        margin-right: 0vw;
        margin-top: 1vh;
        display: grid;
        grid-template-columns: 1fr ;
        gap: 2vw;
        margin-bottom:2vh
      }
}

@media screen and (max-width: 767px) {
    .filter-container .sort .sort-list{
        width:80%
    }
    
  .product-card img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    transition: .7s ease-in-out;

}

.product-desc{
    margin-top:8px;
    display:flex;
    flex-direction: column;
}
.product-desc span {
    margin-top: 2;
}
.product-card img:hover {
    transform: scale(1.1);
    opacity: 0.8;
    transition: .7s ease-in-out;
}

.card-image-container {
    overflow: hidden;
}

.product-card{
    position: relative;
}


.add-cart-btn:hover{
    background-color: black;
    color:white;
    transition: 0.6s ease-in-out;


}
/* *************** */

/*     
    .parent-accordion .main{
        padding-left: 30px;
        padding-right:30px;
    } */
    
    .store-container{
        display:flex;
        align-items: center;
        flex-direction: column;

    }


      .store-container{
        margin-top: 0;
        padding-top: 0;
      }

      .parent-accordion{
        margin-top: 3vh;
      }

    body{
        overflow-x: hidden !important;
        max-width: 100%;
    }


}