<link rel="stylesheet" href="/stylesheets/adminPanel/dashboard.css">

<h1>
    Dashboard
</h1>

<section class="grid">

    <div class="value v1">
        <h4>Total sells</h4>
        <span>$3799.00</span>
    </div>

    <div class="value v2">
        <h4>Total orders</h4>
        <span>578</span>
    </div>

    <div class="value v3">
        <h4>Average order value</h4>
        <span>$272.98</span>
    </div>

    <div class="active">
        <h3>Active users</h3>
        <span>148</span>
    </div>

    <div class="statistics">
        <canvas id="income" style="width:90%;"></canvas>
    </div>


</section>
