<link rel="stylesheet" href="/stylesheets/adminPanel/products.css">

<header class="products">
    
    <h1>
        Products
        <!-- <i class="fa-solid fa-spinner" id="spinner"></i> -->
    </h1>

</header>


<table class="productList">

    <thead>
        <tr>
            <th colspan="6">
                <input type="text">
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th>
                image
            </th>
            <th>
                Title
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>

    <tbody id="products">

    </tbody>

</table>