<link rel="stylesheet" href="/stylesheets/adminPanel/products.css">

<header class="products">
    
    <h1>
        Products
        <i class="fa-solid fa-spinner" id="spinner"></i>
    </h1>

    <button>
        New product
    </button>

</header>


<table class="productList">

    <thead>
        <tr>
            <th colspan="7">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i><input type="text" id="search" placeholder="Start typing to search products">
                </div>
            </th>
        </tr>
    </thead>

    <thead>
        <tr>
            <th colspan="2">
                Product
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
        </tr>
    </thead>

    <tbody id="products">
        
    </tbody>

</table>