<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../public/stylesheets/index.css">
</head>
<body>
    <header id="header">
        <h4>Logo</h4>
        <div>
            <ul id="navbar">
                <li><a class ="active" href="index.html">Home</a></li>
                <li><a href="shop.html">shop</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contant.html">Contact</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a></li>
            </ul>
        </div>
    </header>

    <section id="hero">
        <!-- <div> -->
            <h4>Trade-in-offer</h4>
            <h2>Super value deals</h2>
            <h1>On all products</h1>
            <p>save more with coupons & up to 70% off!</p>
            <button>Shop now</button>
        <!-- </div> -->
        <!-- <img src="../public/assets/SmilingWomanBlackHoodie.png"> -->
    </section>
    
</body>
</html>