<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/stylesheets/login.css">        
    </head>
    <body>

        <form action="" id="form">

            <h1>Login</h1>
        
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        
            <a href="">Forget your password?</a>
        
            <button class="sign" type="submit">SIGN IN</button>
            <button> <a href="register.html">Create ACCOUNT</a> </button>
        
        </form>
        
        
        <script src="" async defer></script>
    </body>
</html>


