<nav>
  <div class="first-nav">
      <div
        id="carouselExampleControls"
        class="carousel slide carou"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner content">
          <div class="carousel-item active">
            <p>
              <i class="fa-solid fa-truck"></i>Free shipping on orders over $200
              
            </p>
          </div>
          <div class="carousel-item">
            <p>
              <i class="fa-solid fa-trophy"></i>Award winning customer service
              
            </p>
          </div>
          <div class="carousel-item">
            <p>
              <i class="fa-solid fa-leaf"></i>Environmentally friendly packaging
              -always
            </p>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
  <div class="second-nav">
  <div class="dropdown-bars">
      <button onclick="expanddropbtn()" class="dropbtn-bars"><i class="fa-solid fa-bars"></i></button>
      <div class ="dropdown-content-bars">
          <button class="closebtn">&times;</button>
          <a>Sign in</a>
          <a href="Store.html">Store</a>
          <a href="collections.html">Collections</a>
          <a href="Blog.html">Blog</a>
          <a style="color:red">Sale</a>

      </div>
  </div>  
  <div class="m-navbar">
      <ul>
          <li><div class ="dropdown-store">
              <a class = "store-drp-btn" href="Collections.html">Collections</a>
              <div class ="dropdown-store-content">
                  <div class="dropdown-category">
                      <div class="image-container">
                          <img src="../assets/collection-image/Fall16_12_1400x_49826350-8701-40aa-8b4d-b4d37eb03421.webp">
                      </div>
                      <a>Accessories</a>
                  </div>
                  <div class="dropdown-category">
                      <div class="image-container">

                      <img  src="../assets/collection-image/Spring16_07_1400x_052384d6-1902-4fcb-8d47-dca39101e1a9.webp">
                  </div>

                      <a>Outerwear</a>
                  </div>
                  <div class="dropdown-category">
                      <div class="image-container">

                      <img src="../assets/collection-image/headwear_1400x_bcbe85e9-6755-497c-9cff-386ca5c932cc.webp">
                  </div>

                      <a>Headwear</a>
                  </div>
                  <div class="dropdown-category">
                      <div class="image-container">

                      <img  src="../assets/collection-image/shorts_1400x_d244aaff-96f0-4be2-95f8-8aa30163116c.webp">
                  </div>

                      <a>Shorts</a>
                  </div>
              </div>
          </div></li>
          <li><a href="shop.html">Store</a></li>
          <li><a href="Blog.html">Blog</a></li>
          <li><a style="color:red">Sale</a></li>
          
      </ul>
  </div>
  <h3 class="logo">Morning</h3>
  <div class="s-navbar">
      
      <ul >
          <li><div class="currency-dropdown">
              <button><em>(EGP) <i class="fa-solid fa-chevron-down"></i></em></button>
              <ol class="currency-list">
                <li><a>(EGP)</a></li>
                <li><a>(USD$)</a></li>
                <li><a>(EUR€)</a></li>
                <li><a>(SAR)</a></li>
              </ol>
            </div></li>
          <li><button class="user"><i class="fa-solid fa-user"></i></button></li>
          <li><button onclick="expandCart()" class="cart"><i class="fa-solid fa-bag-shopping" value=0></i></button></li>
          <li>    <div class="search-box">
            <input type="text" placeholder="Search...">
            <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div></li>
          
      </ul>
  </div>

</div>
<div class="cart-container">
<div class="cart-header">
<div class="center">
<span>Shopping Cart</span>
<button onclick="expandCart()">X</button>
</div>
<div class="center2"><i class="fa-solid fa-truck"></i> <span>Free shipping on orders over $150</span></div>
</div>
<div id="cart-product-container" class="cart-product-container">

</div>
<div class="cart-footer">
<div class="spox"><div class="spc">
  <span class="tax">Tax included and shipping calculated at checkout</span>
</div><div class="spc"><span class="tax">$</span><span id="checkout-price" class="tax"></span></div>
</div>
<a class="checkout" href="checkout.html"><span>Checkout</span></a> 
</div>

</nav>
