<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/stylesheets/login.css">        
    </head>
    <body>

        <form action="">

            <h1>Create Account</h1>

            <label for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" required>

            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" id="lastName" required> 

            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
        
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required>
        
            <button class="sign" type="submit">CREATE</button>
            <button> <a href="shop.html">RETURN TO STORE</a> </button>
        
        </form>
        
        
        <script src="" async defer></script>
    </body>
</html>


