

header.dash{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

header.dash h1{
    font-size: 30px;
    width: 70%;
    min-width: 400px;
}
header.dash div{
    width: 30%;
}
header.dash div input{
    border: none;
    padding: 10px;
    cursor: pointer;
}
header.dash div i{
    padding: 10px;
}


.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'value1 value2 value3' 'active statistics statistics' 'recent recent sales';
    column-gap: 30px;
    row-gap: 30px;

    margin-bottom: 30px;
}


.grid .v1{
    grid-area: value1;
}
.grid .v2{
    grid-area: value2;
}
.grid .v3{
    grid-area: value3;
}
.grid .value{
    background-color: white;
    padding: 20px;
}
.grid .value h4{
    color: gray;
}
.grid .value span{
    font-size: 30px;
    font-weight: bold;
}


.grid .active{
    grid-area: active;
    background-color: white;
    height: min-content;
    padding: 20px;
}

.grid .active span{
    font-size: 40px;
    display: block;
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background-color: #d9ecff;
}


.grid .statistics{
    grid-area: statistics;
    background-color: white;
}
.grid .statistics canvas{
    width: 99% !important;
}

.grid .recent{
    grid-area: recent;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}
.grid .recent table{
    width: 100%;
    border-collapse: collapse; 
}
.grid .recent th, td {
    text-align: left;
    padding: 8px;
    border-bottom: solid;
    border-color: gray;
}
.grid .recent tr{
    border-bottom: solid;
}
  
.grid .recent th {
    color: gray;
}
.grid .recent td.pending {
    color: #00aba9;
}

.grid .recent td.completed {
    color: green;
}
.grid .recent td.canceled {
    color: red;
}



.grid .sales{
    padding-left: 10px;
    grid-area: sales;
    background-color: white;
}

.grid .sales canvas{
    width: 99% !important;
}

.grid .sales .catColor{
    padding: 3px 20px;
    margin-right:10px
}
.grid .sales div{
    margin: auto;
    margin-top: 10px;
}

.fa-spinner{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.fa-spinner.hidden{
    display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}




@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {
    .grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'value1 value2 value3'
                             'active active active'
                             'statistics statistics statistics'
                             'recent recent recent'  
                             'sales sales sales';    
    }
    
  }

  @media screen and (max-width: 600px) {
    .grid{
        grid-template-columns: 1fr;
        grid-template-areas: 'value1' 'value2' 'value3' 'active' 'statistics' 'recent' 'sales';                     
    }
  }

  