
header.products{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

header.products h1{
    font-size: 30px;
    width: 70%;
    min-width: 400px;
}


.productList{
    width: 100%;
    border-collapse: collapse; 
}
.productList th, td {
    text-align: left;
    padding: 10px;
    border-bottom: solid;
    border-width: thin;
    border-color: gray;
}
.productList tr{
   
}

.productList input{
    width: 70%;
}





.fa-spinner{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.fa-spinner.hidden{
    display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}