
header.products{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

header.products h1{
    font-size: 30px;
    width: 80%;
    min-width: 400px;
}

header.products button{
    padding: 10px;
    background-color: var(--yellow);
    border: none;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}


.productList{
    width: 100%;
    border-collapse: collapse; 
    background-color: white;
    border: solid;
    border-width: thin;
    border-color: rgba(128, 128, 128, 0.363);
    margin-bottom: 30px;
}
.productList th, td {
    text-align: left;
    padding: 20px;
    border-bottom: solid;
    border-width: thin;
    border-color: rgba(128, 128, 128, 0.363);
}
.productList tr{
   
}

.productList .search{
    display: flex;
}
.productList .search i{
    border: solid;
    padding: 10px;
    background-color: white;
    border: none;
}
.productList .search input{
    width: 100%;
    padding: 10px;
    border: none;
    outline-color: rgba(128, 128, 128, 0.363);;
}

.productList img{
    width: 50px;
}

.productList img{
    width: 50px;
}

.productList button{
    padding: 10px;
    background-color: var(--yellow);
    border: none;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}








.fa-spinner{
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
}
.fa-spinner.hidden{
    display: none;
}

@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}